
.inputContainer {
  input {
    padding: 2px 12px;
    width: 360px;
    border: 1px solid #bbb;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  textarea {
    width: 360px;
    border: 1px solid #bbb;
    border-radius: 4px;
    margin-bottom: 5px;
  }
}

.sm {
  height: 2vh;
}

.md {
  height: 4vh;
}

.lg {
  height: 6vh;
}

.search {
  position: relative;
  width:360px;
}

.iconInput {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 10px 12px;
  font-size: 14px;
}

.iconImg {
  position: absolute;
  width: 17px;
  top: 11px;
  right: 5px;
  margin: 0;
}
