.modalBackground {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContainer {
  background-color: white;
  width: 400px;
}
.modalContent {
  padding: 50px;
}

.modalHeader {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(45, 45, 195);
}

.closeButton {
  cursor: pointer;
  color: white;
}
