
.inputContainer {
  input {
    width: 20vw;
    height: 2vh;
    border: 1px solid #bbb;
    border-radius: 4px;
  }
  textarea {
    width: 20vw;
    border: 1px solid #bbb;
    border-radius: 4px;
  }
}

.sm {
  height: 3vh;
}

.md {
  height: 5vh;
}

.lg {
  height: 6vh;
}

.search {
  position: relative;
  width: 15vw;
}

.iconInput {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 10px 12px;
  font-size: 14px;
}

.iconImg {
  position: absolute;
  width: 17px;
  top: 11px;
  right: -10px;
  margin: 0;
}
